<page>
    <actionBar title="Smart Digital Lab VR Apps Downloader" horizontalAlignment="center" fontSize="20">
    </actionBar>
     <scrollView orientation="vertical">
        <!-- <button text="SDL App Webpage" backgroundColor="#3c495e" width="50%" height="10%" on:tap={() => Utils.openUrl(installurl)}> -->
        <!-- <button text="Reload" backgroundColor="#3c495e" width="50%" height="10%" on:tap={() => load()}> -->
        <wrapLayout>
            {#each data as element, i}
                <stackLayout width="33.333%" style="padding:20px" backgroundColor={i%2==0?"#4383b8":"#1c486b"}>
                    <label style="horizontal-alignment:center; font-size:20; height:80px">
                        <formattedString>
                            <span>{element.name}</span>
                        </formattedString>
                    </label>
                    <label style="horizontal-alignment:center; font-size:10; height:40px">
                        <formattedString>
                            <span>{element.version}</span>
                        </formattedString>
                    </label>
                    <label style="horizontal-alignment:center; font-size:10; height:100px; word-wrap:break-word;">
                        <formattedString style="word-wrap: break-word;">
                            <span style="word-wrap: break-word;">{element.description}</span>
                        </formattedString>
                    </label>
                    <image src={element.image} stretch="aspectFill" />
                    <stackLayout backgroundColor="#3c495e" style="heigh:600px; width:100%; height: 300px; padding:0px" width="100%" padding="0px">
                        {#if element.quest2}
                            <button text="Download for Quest2" style="width:100%; height:50px; padding:10px; margin:5px;" backgroundColor="#3c4999" on:tap={() => Utils.openUrl(element.quest2)}/>
                            <!-- <button text="Download for Quest2" backgroundColor="#3c4999" on:tap={() => downloadAndInstallApk(element.quest2, element.name)} width="100%" minHeight="50px" padding="10px" margin="5px"/> -->
                        {/if}
                        {#if element.pico4}
                            <button text="Download for Pico4" style="width:100%; height:50px; padding:10px; margin:5px;" backgroundColor="#3c4999" on:tap={() => Utils.openUrl(element.pico4)}/>
                        {/if}
                        {#if element.vivexr}
                            <button text="Download for ViveXR" style="width:100%; height:50px; padding:10px; margin:5px;" backgroundColor="#3c4999" on:tap={() => Utils.openUrl(element.vivexr)}/>
                        {/if}
                    </stackLayout>
                </stackLayout>
            {/each}
        </wrapLayout>
    </scrollView>
</page>

<script>
    import { Utils, Http } from '@nativescript/core';
    import * as app from 'tns-core-modules/application';
    import * as fs from 'tns-core-modules/file-system';

    const installurl = 'https://uoaoculusprod.z26.web.core.windows.net/install'; 
    const dataurl = 'https://gitlab.com/drroycdavies/VR-Apps-Downloader/-/raw/master/install/list.json';
    let data = [{
        name: "Error Loading Apps",
        image: "",
        download: "",
        description: "Possibly still loading, or there was an error connecting..."
    }];

    function downloadAndInstallApk(url, name) {
        const context = app.android.context;
        const downloadManager = context.getSystemService(android.content.Context.DOWNLOAD_SERVICE);
        var directories = fs.knownFolders.currentApp();

        var filesDir = directories.getFolder('Downloads');

        // const filesDir = context.getFilesDir().getAbsolutePath();
        // const filename = fs.path.join(filesDir, name.replace(/ /g, '_')+'.apk');

        // const downloadUri = android.net.Uri.parse(url);
        // const request = new android.app.DownloadManager.Request(downloadUri);

        // Set the destination path to save the APK
        // const destinationUri = android.net.Uri.fromFile(new java.io.File(context.getFilesDir(), name.replace(/ /g, '_')+'.apk'));
        // const destinationUri = android.net.Uri.fromFile(new java.io.File(filename));
        // request.setDestinationUri(destinationUri);

        // // Set notification visibility during download
        // request.setNotificationVisibility(android.app.DownloadManager.Request.VISIBILITY_VISIBLE_NOTIFY_COMPLETED);

        // // Enqueue the download and retrieve the download ID
        // const downloadId = downloadManager.enqueue(request);

        // // Register a receiver to listen to the download completion event
        // const broadcastReceiver = new android.content.BroadcastReceiver({
        //     onReceive: function(context, intent) {
        //         const action = intent.getAction();
        //         if (action === android.app.DownloadManager.ACTION_DOWNLOAD_COMPLETE) {
        //             const receivedDownloadId = intent.getLongExtra(android.app.DownloadManager.EXTRA_DOWNLOAD_ID, -1);

        //             // Check if the downloadId matches the current download
        //             if (receivedDownloadId === downloadId) {
        //                 installApk(destinationUri);
        //             }
        //         }
        //     }
        // });

        // // Register the receiver
        // const filter = new android.content.IntentFilter(android.app.DownloadManager.ACTION_DOWNLOAD_COMPLETE);
        // context.registerReceiver(broadcastReceiver, filter);
    }

    function installApk(uri) {
        const intent = new android.content.Intent(android.content.Intent.ACTION_VIEW);
        intent.setDataAndType(uri, 'application/vnd.android.package-archive');
        intent.setFlags(android.content.Intent.FLAG_ACTIVITY_NEW_TASK);
        app.android.foregroundActivity.startActivity(intent);
    }

    function load() {
        Http.getJSON(dataurl).then(
            (result) => {
                data = result;
            },
            e => {
                console.log(e);
            }
        );
    }

    load();
</script>

<style>
</style>
